<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item pt-lg-1">
            <a class="nav-link">Hello @User.Identity.Name</a>
        </li>
        <li class="nav-item pt-lg-1">
            <a class="nav-link" asp-controller="home" asp-action="logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item pt-lg-1">
            <a class="nav-link" asp-controller="home" asp-action="login">Login</a>
        </li>
    }
</ul>